/*style2.css*/
/*tomcat auth setup -- http://www.byteality.ch/blog/?p=146#respond*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

* {margin:0;padding:0;} 


body {
  margin:0;
  font:12px Arial, Helvetica, sans-serif;
	color: #000; /* leave as black for now */
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
ul {
  list-style-type: circle;
  list-style-position: inside;
}
li {
  padding: 5px;
  margin-left: 1em;
}

#wrapper {
  width: 850px;
  margin: 20px auto;
  padding-bottom: 60px;
}

#header {
  height: 100px;
  background-color: #333;
}

#header #dq-logo {
  float: left;
  color: purple;
}

.logo{
  width:241px;
  height:92px;
	overflow:hidden;
	float:left;
  margin-left: 15px;
  margin-top: 5px;
	background:url(logo.gif) no-repeat;
	text-indent:-9999px;
}
.logo a{
	height:100%;
	display:block;
}

#header #project-name {
  font-size: 25px;
  float: right;
  margin-right: 15px;
  margin-top: 5px;
  color: #fff;
}

#main-container {
  padding-top: 15px;
}

#info-container {
  font-size: 15px;
  text-align: justify;
  line-height: 22px;
}
#info-container p+p {
  text-indent: 1.5em;
}

#left-sidebar {
  width: 300px;
  float: left;
  font-size: 15px;
  margin: 0;
  padding: 0 15px; 
}


/*Begin form elements*/
#form-container, #result-container{
  float: right;
  width: 500px;
  margin: 0 auto;
  padding-right: 15px;
  padding-bottom: 50px;
  font-size: 14px;
  border-style: solid;
  border-color: #000;
}
#result-container p {
  padding: 5px;
}

#form-container h2, #result-container h2 {
  color: #fff;
  background-color: #333;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

#form-container label {
  font-weight: bold;
  clear: both;
}

#form-container .model_feature {
  padding: 10px 1px;
  line-height: 18px;
}

#form-container .response {
  float: right;
  text-align: right;
}

#form-container .feature_description {
  display: block;
  padding-right: 150px;
  font-size: 12px;
}

#form-container .button {
  float: right;
}
/*End form, result elements*/

#footer {
  position: relative;
  width: 850px;
  text-align: right;
  color: #fff;
  margin-top: -60px;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  clear: both;
  background-color: #333;
}

#foot {
  padding-top: 5px;
  padding-right: 12px;
}

#foot a {
  color: #71C42B;
  font-weight: 600;
  text-decoration: none;
}
#foot a:hover {
  color: #5288DB;
}
